@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@theme {
  --bg-primary-dark: #0f1923;
  --bg-secondary-dark: #2c3844;
  --bg-primary-light: #f2eae0;
  --bg-accent-light: #4ca5ff;
  --bg-accent-dark: #5fbcff;
  --bg-accent-brand: #ff8357;
  --text-primary-dark: #b0b0b0;
  --text-primary-light: #121212;
  --accent-main: #4ca5ff;
  --accent-hover: #5fbcff;
  --accent-brand: #ff8357;
  --border-neutral: #2c3844;
}

:root {
    --bg-primary-dark: #0f1923;
    --bg-secondary-dark: #2c3844;
    --bg-primary-light: #f2eae0;
    --bg-accent-light: #4ca5ff;
    --bg-accent-dark: #5fbcff;
    --bg-accent-brand: #ff8357;
    --text-primary-dark: #b0b0b0;
    --text-primary-light: #121212;
    --accent-main: #4ca5ff;
    --accent-hover: #5fbcff;
    --accent-brand: #ff8357;
    --border-neutral: #2c3844;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", ui-serif, Georgia, serif;
  font-weight: 700;
}

body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}
