---
import SectionNav from "../Navigation/SectionNav.astro";

interface Props {
  role: string;
  tagline: string;
  description: string;
  sections: {
    id: string;
    label: string;
  }[];
}

const { role, tagline, description, sections } = Astro.props;
---

<div class="space-y-6 lg:space-y-5">
  <h1
    class="text-base-content/80 font-playfair font-bold text-3xl"
  >
    Ariel Itzli Molina Sánchez
  </h1>
  <p class="text-2xl font-playfair font-bold text-base-content">
    {role}
  </p>
  <h2 class="text-lg font-inter text-base-content/80">
    {tagline}
  </h2>
  <div class="prose prose-lg prose-base-content">
    <p class="leading-relaxed">
      {description}
    </p>
  </div>

  <div class="pb-4 pt-1 hidden lg:block">
    <SectionNav sections={sections} orientation="vertical" className="w-full" />
  </div>

  <div class="flex gap-4">
    <a
      href="https://github.com/Itzli2000"
      target="_blank"
      class="btn btn-ghost btn-sm"
    >
      GitHub
    </a>
    <a
      href="https://www.linkedin.com/in/ariel-itzli-molina-s%C3%A1nchez-0b4a09129/"
      target="_blank"
      class="btn btn-ghost btn-sm"
    >
      LinkedIn
    </a>
    <a href="/resume.pdf" target="_blank" class="btn btn-ghost btn-sm">
      Resume
    </a>
  </div>
</div>
