---
import SectionTitle from "./SectionTitle.astro";

interface Props {
  title: string;
  summary: string[] | string;
}

const { title, summary } = Astro.props;
const summaryArray = Array.isArray(summary) ? summary : [summary];
---

<div class="space-y-4 md:space-y-6">
  <SectionTitle title={title} />

  <div
    class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4"
  >
    <div
      class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block"
    >
    </div>

    <div class="z-10 sm:col-span-8 space-y-4">
      {summaryArray.map(paragraph => (
        <p class="text-xs md:text-sm lg:text-base leading-relaxed text-base-content/80">
          {paragraph}
        </p>
      ))}
    </div>
  </div>
</div>

