---
import ContactCanvas from "../../components/contact/ContactCanvas";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import MainLayout from "../../layouts/MainLayout.astro";

const lang = getLangFromUrl(Astro.url) as "en" | "es";
const t = useTranslations(lang);

// SEO metadata
const title = t('home.meta.title');
const description = t('home.meta.description');
---

<MainLayout 
    lang={lang} 
    title={title} 
    description={description}
    type="website"
>
    <main class="flex flex-col gap-12 md:gap-16 lg:gap-24">
        <ContactCanvas client:load />
    </main>
</MainLayout>

