---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import MainLayout from "../../layouts/MainLayout.astro";

const lang = getLangFromUrl(Astro.url) as "en" | "es";
const t = useTranslations(lang);

// SEO metadata
const title = "Código Obsidiana - Ariel Itzli Molina Sanchez";
const description = "Sitio web personal y blog de Ariel Molina. Arquitecto frontend especializado en tecnologías web escalables y soluciones de desarrollo.";
---

<MainLayout 
    lang={lang} 
    title={title} 
    description={description}
    type="website"
>
    <main>
      <h1 class="text-4xl font-bold">¡Hola!</h1>
      <p class="text-lg">Bienvenido a mi sitio web</p>
    </main>
</MainLayout>
